In [12]:
import pandas as pd
import os

In [13]:
classes = dict()
names = os.listdir('/root/SonificationProject/Data/New_Data_s/Testing')
names.sort()
for i, name in enumerate(names):
    classes[i] = name

In [14]:
df = pd.read_json('/root/SonificationProject/Experiments/EfficientNetB7_on_Added_Results/EfficientNetB7_0_perfs.json')
df["y_pred"] = df["y_pred"].apply(lambda x: classes[x])
df["A"] = df["name"].apply(lambda x: x.split("_")[0])
df["B"] = df["name"].apply(lambda x: x.split("_")[2])
df.drop(columns=["mode", "y_true", "prevalence", "name"], inplace=True)
#Reorder columns
df = df[["A", "B", "y_pred", "y_scores"]]
df

                 A                  B         y_pred  y_scores
0    cortelcophone      cortelcophone    dellmonitor  0.469436
1    cortelcophone      cyberpowerups    dellmonitor  0.447311
2    cortelcophone        dellmonitor   delloptiplex  0.353433
3    cortelcophone       delloptiplex    dellmonitor  0.531105
4    cortelcophone            dellxps  cortelcophone  0.656339
..             ...                ...            ...       ...
395        xboxone        dellmonitor        xboxone  0.998543
396        xboxone       delloptiplex        xboxone  0.989824
397        xboxone      cyberpowerups        xboxone  0.997656
398        xboxone  fluorescentlights        xboxone  0.988298
399        xboxone      cortelcophone        xboxone  0.999794

[400 rows x 4 columns]

In [18]:
df.to_csv('added_data.csv', index=False)
df_query = df[df["A"]==df["y_pred"]]
print(f"Of {len(df)} pertutations of A+B, {df_query.shape[0]} entries ended up where A+B=A")
df_rest = df[df["A"]!=df["y_pred"]]
df_rest.reset_index(inplace=True)
df_rest

Of 400 pertutations of A+B, 320 entries ended up where A+B=A

    index              A                 B        y_pred  y_scores
0       0  cortelcophone     cortelcophone   dellmonitor  0.469436
1       1  cortelcophone     cyberpowerups   dellmonitor  0.447311
2       2  cortelcophone       dellmonitor  delloptiplex  0.353433
3       3  cortelcophone      delloptiplex   dellmonitor  0.531105
4       6  cortelcophone        hplaserjet   dellmonitor  0.479025
..    ...            ...               ...           ...       ...
75    212      odroidxu4       raspberrypi       hpzbook  0.933746
76    213      odroidxu4           roku2xs       hpzbook  0.884110
77    214      odroidxu4          usrpe310       hpzbook  0.965661
78    215      odroidxu4  viewsonicmonitor      usrpe310  0.379696
79    219      odroidxu4           xboxone       hpzbook  0.826823

[80 rows x 5 columns]